<!DOCTYPE html>
<html>
  <head>
    <title>ForesTree Equipment Trader</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewpoint" content="width=device-width, intial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://use.fontawesome.com/ef8c7632d4.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
  <header>
      <!-- Top Nav Bar Begin -->
      <div class="bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 top-bar-align">
              <div class="row">
                <a href="https://www.facebook.com/forestreetrader/">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg-hover-fetgreen">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"></i> <span class="visible-lg-inline-block">Facebook</span>
                </div>
                </a>
                <a href="https://twitter.com/FE_Trader">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg-hover-fetgreen">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"></i> <span class="visible-lg-inline-block">Twitter</span>
                </div>
                </a>
                <a href="https://www.youtube.com/channel/UCZ1p_k-W6gNKhIcunkvgKEw">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg-hover-fetgreen">
                  <i class="fa fa-youtube fa-lg" aria-hidden="true"></i> <span class="visible-lg-inline-block">Youtube</span>
                </div>
                </a>
                <a href="https://plus.google.com/+ForesTreeEquipmentTraderMontgomery/">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 bg-hover-fetgreen">
                  <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i> <span class="visible-lg-inline-block">Google+</span>
                </div>
                </a>
                <a href="http://www.forestreetrader.com/fet-newsletter/">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 bg-hover-fetgreen">
                  <i class="fa fa-envelope fa-lg" aria-hidden="true"></i> <span class="visible-lg-inline-block">Newsletter</span>
                </div>
                </a>
              </div>
            </div>
            <a href="http://www.southernloggintimesmagazine.com">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 top-bar-align">
                  <h4 class="text-right">In Partnership With </h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <%= link_to image_tag("slt-logo.png", alt: "ForesTree Equipment Trader", width: '165px') %>
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Top Nav Bar End -->

      <!-- Main Nav Bar Begin -->
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-light bg-faded main-nav">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <ul class="nav navbar-nav navbar-left">
                <li>
                  <a class="navbar-brand fet-logo" href="#">
                    <%= link_to image_tag("fet-logo.png", alt: "ForesTree Equipment Trader"),
				  		          {:class => 'websiteLogo'} %>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <ul class="nav navbar-nav navbar-right main-nav-links">
                    <li><%= link_to "Home", root_path%></li>
                    <li><%= link_to "About", about_path%></li>
                    <li><%= link_to "Blog", blog_path%></li>
                    <li><a href="#">Media Center</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Login</a></li>
                  </ul>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a class="bg-fetgreen" href="#">Create Listing</a></li>
                    <li><a class="bg-fetgreen" href="#">Browse Listings</a></li>
                    <li><a class="bg-fetorange" href="#">Auction</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </nav>

        </div>
      </div>
      <!-- Main Nav Bar End -->
    </header>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs">
            <!-- <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p> -->
            <%= yield %>
          </div>
        </div>
      </div>
    </body>
    
          

    <footer >
      <div class="fluid-container bg-primary footwidgets">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <h2>About</h2>
              <p>
                Welcome to ForesTree Equipment Trader, the premier platform for buying, selling and trading previously owned forestry equipment, and much more. Thank you for your interest in FET!
              </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <h2>Search</h2>
              <input type="text" placeholder="Search..." />
              <button class="btn btn-fetorange" type="submit">Search</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <h2>Partners</h2>
              <p><a href="http://southernloggintimes.com/">Southern Loggin' Times</a></p>
              <p><a href="http://timberharvesting.com/">Timber Harvesting</a></p>
              <p><a href="http://hattonbrown.com/">Hatton-Brown Publishers, Inc.</a></p>
              <p><a href="http://jmwood.com/">J.M. Wood Auction Company</a></p>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <%= link_to image_tag("fet-sawblade.png", alt: "ForesTree Equipment Trader", width: '175px') %>
            </div>
          </div>
        </div>
      </div>

      <div class="fluid-container bg-footerblack copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
              <p>Copyright 2017 @ ForesTree Equipment Trader | Design & Development by <a href="http://www.hattonbrown.com/">HB Media</a></p>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 text-right footer-icons">
              <a href="https://www.facebook.com/forestreetrader/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://twitter.com/FE_Trader"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="https://www.youtube.com/channel/UCZ1p_k-W6gNKhIcunkvgKEw"><i class="fa fa-youtube" aria-hidden="true"></i></a>
              <a href="https://plus.google.com/+ForesTreeEquipmentTraderMontgomery/"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>

      </div>
    </footer>
  </body>
</html>
